{% extends 'base.html' %}

{% load static %}

{% block title %}
| About
{% endblock title %}

{% block content %}


<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'assets/img/IMG_6853.JPG' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>I'm an aspiring python developer. I have been studying python for two years, I studied at the courses and independently. I have knowledge of the django framework. I will be glad to join the team to work together on projects, improving my personal skills and increasing the efficiency of the team. Previous experience has taught me to work in multitasking mode, to find non-standard solutions to problems and constantly learn new things. I am open to any, especially with growth prospects, proposals. I aim to invest the maximum of my attention, skills and strength for the benefit of an interesting business.</p>
                <p>Я начинающий python-разработчик. Изучаю python в течении двух лет, обучался на курсах и самостоятельно. Владею знаниями фреймворка django. Буду рад присоедениться к команде для совместной работы над проектами, улучшая свой личный скилл и повышая эффективность команды. Предыдущий опыт научил работать в режиме многозадачности, находить нестандартные решения проблем и постоянно изучать новое. Открыт к любым, особенно с перспективами роста, предложениям. Нацелен вложить максимум своего внимания, навыков и сил на благо интересного дела.</p>
            </div>
        </div>
    </div>
</main>


{% endblock content %}


Я начинающий python-разработчик. Изучаю python в течении двух лет, обучался на курсах и самостоятельно. Владею знаниями фреймворка django. Буду рад присоедениться к команде для совместной работы над проектами, улучшая свой личный скилл и повышая эффективность команды. Предыдущий опыт научил работать в режиме многозадачности, находить нестандартные решения проблем и постоянно изучать новое. Открыт к любым, особенно с перспективами роста, предложениям. Нацелен вложить максимум своего внимания навыков и сил на благо интересного дела.   