{% extends 'base.html' %}

{% load static %}

{% block title %}
| Home
{% endblock title %}

{% block content %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'assets/img/home.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Django site</h1>
                    <span class="subheading">Not a big site developed by me... will be continue :)</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for post in posts %}
                {% include 'includes/post.html' %}
            {% endfor %}
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'posts-page' %}">Older Posts →</a></div>
        </div>
    </div>
</div>

{% endblock content %}